/*------------------- GLOBAL ---------------- */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

section > .container {
  margin: 60px auto;
  text-align: center; }
  @media (max-width: 767px) {
    section > .container {
      margin: 40px auto; } }

/*-------------------- GRID ---------------- */
.row::before,
.row::after {
  content: "";
  display: block;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 0px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-offset-0 {
  margin-left: 0; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

@media (min-width: 768px) and (max-width: 1199px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
@media (max-width: 767px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; } }
/*-------------------- HEADER , HEADER NAV SECTION ---------------- */
header {
  height: 90px;
  background-color: #313332; }
  @media (max-width: 767px) {
    header {
      height: auto; } }

nav::after {
  content: "";
  display: block;
  clear: both; }

header > nav > a {
  display: inline-block;
  padding: 0;
  margin: 20px; }
  @media (min-width: 768px) and (max-width: 1199px) {
    header > nav > a {
      margin: 20px 10px; } }
  @media (max-width: 767px) {
    header > nav > a {
      display: block;
      padding: 20px;
      margin: 0; } }
  header > nav > a img {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: auto; }
    @media (max-width: 767px) {
      header > nav > a img {
        display: block;
        margin: 0 auto; } }
header > nav > ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  @media (max-width: 767px) {
    header > nav > ul {
      float: none;
      display: block; } }
  header > nav > ul li {
    display: inline-block;
    margin: 0;
    padding: 0; }
    @media (max-width: 767px) {
      header > nav > ul li {
        display: block;
        text-align: center;
        border-top: 1px solid #eee; }
        header > nav > ul li:last-of-type {
          border-bottom: 1px solid #eee; } }
    header > nav > ul li a:link {
      display: inline-block;
      text-decoration: none;
      font-size: 18px;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 90px;
      padding: 0 20px;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease; }
      @media (min-width: 768px) and (max-width: 1199px) {
        header > nav > ul li a:link {
          font-size: 16px;
          padding: 0 5px; } }
      @media (max-width: 767px) {
        header > nav > ul li a:link {
          display: block;
          padding: 0;
          line-height: 50px; } }
    header > nav > ul li a:visited {
      color: #fff; }
    header > nav > ul li a:hover {
      color: #8d8d8d; }
    header > nav > ul li a:active {
      color: #22a7c3; }

/*-------------------- HERO SECTION ---------------- */
.hero {
  background: url(https://static.pexels.com/photos/432059/pexels-photo-432059.jpeg) 20% 38%/cover no-repeat;
  min-height: 60vh;
  max-height: 60vh;
  position: relative; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .hero {
      min-height: 70vh;
      max-height: 70vh; } }
  @media (max-width: 767px) {
    .hero {
      background: url(https://static.pexels.com/photos/432059/pexels-photo-432059.jpeg) 20% 38%/cover no-repeat;
      min-height: 60vh;
      max-height: 60vh;
      position: relative; } }
  .hero h1 {
    padding: 1%;
    margin: 1% 0 1% 1%;
    width: 25%;
    display: inline-block;
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    font-family: "Archivo", sans-serif;
    position: absolute;
    top: 30%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.1);
    line-height: 1.3em; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .hero h1 {
        width: 30%;
        top: 10%; } }
    @media (max-width: 767px) {
      .hero h1 {
        box-sizing: border-box;
        padding: 1%;
        margin: 0 0 1% 0;
        width: 100%;
        font-size: 22px;
        top: 70%;
        left: 0;
        bottom: 0;
        line-height: 1.3em; }
        .hero h1 br {
          display: none; } }
    .hero h1 span {
      display: inline-block;
      font-size: 42px;
      margin-top: 15px; }
      @media (max-width: 767px) {
        .hero h1 span {
          font-size: 24px;
          margin-top: 1%; } }

/*-------------------- FEATURE SECTION ---------------- */
.feature i {
  font-size: 120px; }
.feature i.fa-black-tie {
  color: #292929; }
.feature i.fa-suitcase {
  color: #582c00; }
.feature i.fa-gift {
  color: #830000; }
.feature h3 {
  text-transform: uppercase;
  font-size: 20px;
  color: #1a1a1a;
  margin-bottom: 5px;
  margin-top: 20px; }
.feature p {
  margin-top: 5px;
  color: #898989;
  padding: 5px 30px; }

/*-------------------- GALLERY INVITATION SECTION ---------------- */
.gallery-invitation h2 {
  text-transform: uppercase;
  color: #1a1a1a;
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 15px; }
  @media (max-width: 767px) {
    .gallery-invitation h2 {
      font-size: 22px; } }
.gallery-invitation p {
  max-width: 900px;
  margin: 15px auto;
  color: #898989; }
  @media (max-width: 767px) {
    .gallery-invitation p {
      padding: 0 15px; } }

/*-------------------- GALLERY PICTURES SECTION ---------------- */
.picture, .picture1, .picture2, .picture3, .picture4, .picture5, .picture6, .picture7, .picture8, .picture9, .picture10 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  padding-top: 80%;
  height: 0;
  position: relative; }
  .picture:hover .hide, .picture1:hover .hide, .picture2:hover .hide, .picture3:hover .hide, .picture4:hover .hide, .picture5:hover .hide, .picture6:hover .hide, .picture7:hover .hide, .picture8:hover .hide, .picture9:hover .hide, .picture10:hover .hide {
    visibility: visible;
    opacity: 1;
    left: 0; }
    @media (max-width: 767px) {
      .picture:hover .hide, .picture1:hover .hide, .picture2:hover .hide, .picture3:hover .hide, .picture4:hover .hide, .picture5:hover .hide, .picture6:hover .hide, .picture7:hover .hide, .picture8:hover .hide, .picture9:hover .hide, .picture10:hover .hide {
        opacity: 0.7; } }

@media (max-width: 767px) {
  section.gallery .hide {
    visibility: visible;
    background-color: transparent;
    left: 0;
    opacity: 0.7; } }
.picture1 {
  background-image: url(https://images.pexels.com/photos/447189/pexels-photo-447189.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  z-index: 110; }

.picture2 {
  background-image: url(https://images.pexels.com/photos/38270/son-in-law-cufflinks-black-and-white-bow-tie-38270.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  z-index: 100; }

.picture3 {
  background-image: url(https://images.pexels.com/photos/111738/pexels-photo-111738.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  z-index: 90; }

.picture4 {
  background-image: url(https://images.pexels.com/photos/447186/pexels-photo-447186.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  z-index: 80; }

.picture5 {
  background-image: url(https://images.pexels.com/photos/192329/pexels-photo-192329.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  padding-top: 39.996%;
  z-index: 70; }

.picture6 {
  background-image: url(https://images.pexels.com/photos/541524/pexels-photo-541524.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  padding-top: 39.996%;
  background-position: 50% 20%;
  z-index: 60; }

.picture7 {
  background-image: url(https://images.pexels.com/photos/173125/pexels-photo-173125.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  z-index: 50; }

.picture8 {
  background-image: url(https://images.pexels.com/photos/80157/watch-product-80157.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  background-position: 50% 30%;
  z-index: 40; }

.picture9 {
  background-image: url(https://images.pexels.com/photos/325685/pexels-photo-325685.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  z-index: 30; }

.picture10 {
  background-image: url(https://images.pexels.com/photos/423364/pexels-photo-423364.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  z-index: 20; }

.gallery .hide {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear; }
  .gallery .hide i {
    background-color: #ececec;
    font-size: 18px;
    padding: 6px;
    border-radius: 20%;
    cursor: pointer; }
  .gallery .hide i:nth-of-type(1) {
    position: absolute;
    top: 48%;
    left: 30%; }
  .gallery .hide i:nth-of-type(2) {
    position: absolute;
    top: 48%;
    left: 60%; }

.gallery .picture5 .hide i:nth-of-type(1), .gallery .picture6 .hide i:nth-of-type(1) {
  left: 39%; }
.gallery .picture5 .hide i:nth-of-type(2), .gallery .picture6 .hide i:nth-of-type(2) {
  left: 54%; }

/**DESIGNERS SECTION
 *  
 *  
 */
@media (max-width: 767px) {
  .designers .container {
    margin: 20px auto; }
  .designers .col-s-6:nth-of-type(1) h4, .designers .col-s-6:nth-of-type(2) h4 {
    margin-bottom: 0; } }
.designer-photo {
  margin-top: 40px; }
  .designer-photo div {
    margin: 0 auto;
    border-radius: 50%;
    background: url(https://static.pexels.com/photos/247903/pexels-photo-247903.jpeg) no-repeat #ddd;
    background-size: 120%;
    background-position: 60% 0;
    width: 100%;
    padding-top: 100%;
    height: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .designer-photo div:hover {
      background: url(https://static.pexels.com/photos/247917/pexels-photo-247917.jpeg) no-repeat #ddd;
      background-size: 150%;
      background-position: 70% 0;
      width: 100%;
      padding-top: 100%;
      height: 0; }

/**------
 *
 *-------------- VISIT OUR STORE SECTION ----------
 *------
 */
.store {
  width: 100%;
  background-color: #4d0000;
  padding-top: 10px; }
  .store img {
    max-width: 60%;
    height: auto; }
  .store h2 {
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 42px;
    font-weight: 800;
    margin: 0 15px 0 0; }
    @media (max-width: 767px) {
      .store h2 {
        text-align: center;
        font-size: 26px;
        margin: 0; } }
  .store p {
    text-align: left;
    color: #fff;
    letter-spacing: 0.05em; }
    @media (max-width: 767px) {
      .store p {
        text-align: center; } }
  .store .col-8 p {
    padding-right: 60px; }
  .store .col-4 p {
    font-style: italic; }
  @media (max-width: 767px) {
    .store .col-s-12 p {
      padding: 2%; } }

/**------
 *-------------- THE NUMBERS SECTION ----------
 *------
 */
.numbers .col-3 p {
  margin: 0; }
  .numbers .col-3 p:first-child {
    text-transform: uppercase;
    color: #000;
    font-size: 54px;
    font-weight: 800; }
  .numbers .col-3 p:last-child {
    text-transform: uppercase;
    color: #22a7c3;
    font-size: 18px;
    font-weight: 800; }
@media (max-width: 767px) {
  .numbers .col-s-6 p {
    margin: 0; }
    .numbers .col-s-6 p:first-child {
      font-size: 26px; }
    .numbers .col-s-6 p:last-child {
      font-size: 16px;
      margin-bottom: 6%; } }

/**------
 *-------------- FOOTER SECTION ----------
 *------
 */
.footer {
  width: 100%;
  background-color: #242424;
  padding-top: 2px;
  padding-bottom: 2px; }
  .footer div.container {
    margin-top: 50px;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .footer div.container {
        margin-top: 0px; } }
  .footer h3 {
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 0;
    margin-left: 0;
    position: relative; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .footer h3 {
        font-size: 18px;
        margin-left: 10px; } }
    @media (max-width: 767px) {
      .footer h3 {
        text-align: center;
        display: inline-block;
        width: 200px;
        margin-top: 40px;
        margin-bottom: 20px; } }
  .footer .about-us h3:after {
    content: "";
    border-bottom: 2px solid #fff;
    width: 90px;
    position: absolute;
    left: 140px;
    top: 50%; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .footer .about-us h3:after {
        left: 100px; } }
    @media (max-width: 767px) {
      .footer .about-us h3:after {
        content: "";
        border-bottom: 2px solid #fff;
        width: 25%;
        position: absolute;
        left: 167px;
        top: 50%; } }
  @media (max-width: 767px) {
    .footer .about-us h3 {
      margin-bottom: 6px; } }
  .footer .get-in-touch h3:after, .footer .socialmedia h3:after {
    content: "";
    border-bottom: 2px solid #fff;
    width: 90px;
    position: absolute;
    left: 190px;
    top: 50%; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .footer .get-in-touch h3:after, .footer .socialmedia h3:after {
        left: 135px; } }
    @media (max-width: 767px) {
      .footer .get-in-touch h3:after, .footer .socialmedia h3:after {
        content: "";
        border-bottom: 2px solid #fff;
        width: 25%;
        position: absolute;
        left: 190px;
        top: 50%; } }
  .footer p {
    font-size: 16px;
    color: #ccc;
    text-align: left;
    padding-right: 20px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .footer p {
        font-size: 14px;
        padding: 0 10px; } }
    @media (max-width: 767px) {
      .footer p {
        padding: 0 2%; } }
  .footer .contact p {
    font-weight: 600;
    color: #f4f4f4;
    padding-right: 15px;
    margin-right: 5px; }
    @media (max-width: 767px) {
      .footer .contact p {
        text-align: center;
        padding-right: 0;
        margin-right: 1px; } }
  @media (max-width: 767px) {
    .footer .col-9 p {
      padding: 0 1% 0 0; } }

.tight p {
  margin: 8px 1px; }

.socialfonts {
  text-align: left; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .socialfonts {
      margin-left: 10px; } }
  @media (max-width: 767px) {
    .socialfonts {
      text-align: center; } }

.socialfonts a:link {
  display: inline-block;
  background-color: #22a7c3;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  padding: 6px;
  margin: 0 10px 0 0;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .socialfonts a:link {
      margin: 0 5px 0 5px; } }
  @media (max-width: 767px) {
    .socialfonts a:link {
      box-sizing: border-box;
      border: 1px solid;
      border-color: black;
      display: block;
      font-size: 30px;
      padding: 2% 0;
      margin: 0; } }
.socialfonts a:visited {
  color: #fff;
  background-color: #22a7c3; }
  @media (max-width: 767px) {
    .socialfonts a:visited {
      border-color: black; } }
.socialfonts a:hover {
  background-color: #4d0000; }
.socialfonts a:active {
  color: #22a7c3; }

.socialmedia p {
  margin: 0; }

.copyrights {
  background-color: #151515; }
  .copyrights p {
    text-align: center;
    color: #ccc;
    padding: 16px;
    margin: 0 auto; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .copyrights p {
        font-size: 16px; } }
